@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
main {
  margin-bottom: 100px;
}

:root {
  font-size: 14px;
  line-height: 18px;
}

.inner {
  max-width: 1644px;
  width: 100%;
}

.btn {
  border-radius: 25px;
  width: 165px;
  padding: 10px 0;
}

.btn a {
  color: #fff;
  font-weight: bold;
}

.btn--filled {
  background-color: #0F7BFF;
  border: 2px solid #0F7BFF;
}

.btn--bordered {
  background-color: #fff;
  border: 2px solid #0F7BFF;
}

.btn--bordered a {
  color: #0F7BFF;
}

.btn--signup {
  background-color: #0063DD;
  margin-top: 2rem;
}

.navbar {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  height: 60px;
}

.navbar.navbar-light {
  background-color: transparent;
}

.logo {
  font-weight: bold;
  font-size: 1rem;
  line-height: 30px;
  background-color: #0F7BFF;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 0 0 10px 10px;
  padding: .5rem;
}

.navbar__menu {
  padding: .5rem;
  height: 100%;
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  z-index: 10;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__list {
  width: 100%;
  text-align: center;
  padding: 0 1.5rem;
}

.nav__item {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #cdcccc;
  cursor: pointer;
}

.nav__item:last-child {
  border: none;
}

.nav__item:hover .nav__link, .nav__item:active .nav__link, .nav__item:focus .nav__link {
  color: #0F7CFF;
}

.nav__link {
  font-weight: 500;
  text-transform: uppercase;
  color: #929292;
  text-decoration: none;
  -webkit-transition: 0.2ms all ease;
  transition: 0.2ms all ease;
}

.nav__link--active {
  color: #0F7CFF;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: #f7fbfe;
  background-image: url("../img/header/header-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.offer {
  max-width: 655px;
  margin: auto;
  margin-top: 5.5rem;
}

.offer .btn {
  margin: 0 15px;
}

.offer__title {
  padding-bottom: 30px;
}

.offer__text {
  padding-bottom: 33px;
  line-height: 27px;
  color: #929292;
}

.offer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__buttons .btn {
  margin-bottom: 1.3rem;
}

.scroll-down {
  position: absolute;
  bottom: -40px;
  left: 40%;
  width: 80px;
  height: 80px;
  padding: 13px;
  border-radius: 50%;
  background-color: #0063DD;
  translate: .3ms all ease;
}

.scroll-down:hover, .scroll-down:active, .scroll-down:focus {
  -webkit-box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
  box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
}

.scroll-down:hover .scroll-down__btn, .scroll-down:active .scroll-down__btn, .scroll-down:focus .scroll-down__btn {
  color: #fff;
}

.scroll-down__btn {
  height: 100%;
  color: #fff;
}

.scroll-down__btn svg {
  height: 50px;
  width: 50px;
}

@media (min-width: 600px) {
  :root {
    font-size: 16px;
    line-height: 20px;
  }
  .btn {
    width: 165px;
    padding: 13px 0;
  }
  .navbar {
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
  }
  .navbar__menu {
    margin-right: 1rem;
  }
  .nav {
    padding: 2rem 4rem;
  }
  .nav__list {
    padding: 0 2rem;
  }
  .offer__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .scroll-down {
    bottom: -35px;
    left: 45%;
    width: 70px;
    height: 70px;
  }
  .scroll-down .scroll-down__btn {
    height: 100%;
    color: #fff;
  }
  .scroll-down .scroll-down__btn svg {
    height: 43px;
    width: 43px;
  }
}

@media (min-width: 801px) {
  .btn--signup {
    margin: 0;
  }
  .navbar {
    height: 100px;
  }
  .logo {
    font-size: 2rem;
    line-height: 45px;
    border-radius: 0 0 20px 20px;
    padding: 25px 23px 32px 23px;
  }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
  }
  .nav {
    position: relative;
    padding: 0;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: auto;
    right: auto;
  }
  .nav__list {
    padding: 0;
    width: auto;
  }
  .nav__item {
    border: none;
    margin: 0 20px;
  }
  .btn--signup {
    margin-left: 32px;
  }
  .header {
    background-size: cover;
  }
}
/*# sourceMappingURL=styles.css.map */