@import "_const.scss";
@import "heading.scss";
@import "features.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");


:root{
  font-size: 14px;
  line-height: 18px;
}

@media(min-width: 600px) {
  :root{
    font-size: 16px;
    line-height: 20px;
  }
}