@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: #F5FCFD;
  background-image: url("../img/header/header-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
}

.navbar {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  height: 60px;
}

.navbar.navbar-light {
  background-color: transparent;
}

.logo {
  font-weight: bold;
  font-size: 1rem;
  line-height: 30px;
  background-color: #0F7BFF;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 0 0 10px 10px;
  padding: .5rem;
}

.navbar__menu {
  padding: .5rem;
  height: 100%;
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  z-index: 10;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__list {
  width: 100%;
  text-align: center;
  padding: 0 1.5rem;
}

.nav__item {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #cdcccc;
  cursor: pointer;
}

.nav__item:last-child {
  border: none;
}

.nav__item:hover .nav__link, .nav__item:active .nav__link, .nav__item:focus .nav__link {
  color: #0F7CFF;
}

.nav__link {
  font-weight: 500;
  text-transform: uppercase;
  color: #929292;
  text-decoration: none;
  -webkit-transition: 0.2ms all ease;
  transition: 0.2ms all ease;
}

.nav__link--active {
  color: #0F7CFF;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.offer {
  max-width: 655px;
  margin: auto;
  margin-top: 5.5rem;
}

.offer .btn {
  margin: 0 15px;
}

.offer__title {
  padding-bottom: 30px;
}

.offer__text {
  padding-bottom: 33px;
  line-height: 27px;
  color: #929292;
}

.offer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__buttons .btn {
  margin-bottom: 1.3rem;
}

.scroll-down {
  position: absolute;
  bottom: -40px;
  left: 40%;
  width: 80px;
  height: 80px;
  padding: 13px;
  border-radius: 50%;
  background-color: #0063DD;
  translate: .3ms all ease;
}

.scroll-down:hover, .scroll-down:active, .scroll-down:focus {
  -webkit-box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
  box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
}

.scroll-down:hover .scroll-down__btn, .scroll-down:active .scroll-down__btn, .scroll-down:focus .scroll-down__btn {
  color: #fff;
}

.scroll-down__btn {
  height: 100%;
  color: #fff;
}

.scroll-down__btn svg {
  height: 50px;
  width: 50px;
}

@media (min-width: 600px) {
  .btn {
    width: 165px;
    padding: 13px 0;
  }
  .navbar {
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
  }
  .navbar__menu {
    margin-right: 1rem;
  }
  .nav {
    padding: 2rem 4rem;
  }
  .nav__list {
    padding: 0 2rem;
  }
  .offer__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .scroll-down {
    bottom: -35px;
    left: 45%;
    width: 70px;
    height: 70px;
  }
  .scroll-down .scroll-down__btn {
    height: 100%;
    color: #fff;
  }
  .scroll-down .scroll-down__btn svg {
    height: 43px;
    width: 43px;
  }
}

@media (min-width: 801px) {
  .btn--signup {
    margin: 0;
  }
  .navbar {
    height: 100px;
  }
  .logo {
    font-size: 2rem;
    line-height: 45px;
    border-radius: 0 0 20px 20px;
    padding: 25px 23px 32px 23px;
  }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
  }
  .nav {
    position: relative;
    padding: 0;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: auto;
    right: auto;
  }
  .nav__list {
    padding: 0;
    width: auto;
  }
  .nav__item {
    border: none;
    margin: 0 20px;
  }
  .btn--signup {
    margin-left: 32px;
  }
  .header {
    background-size: cover;
  }
}

@media (min-width: 1645px) {
  .navbar {
    width: 1644px;
  }
}

.features {
  min-height: 635px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5FCFD;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  min-height: 336px;
  margin-top: 3.5rem;
  max-width: 1146px;
}

.features-card {
  width: 290px;
  min-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 15px 47px 15px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.icon-analysis {
  background-color: #DFEDFF;
  background-image: url("../img/features/Icon 1.svg");
}

.icon-design {
  background-color: #F5DFFF;
  background-image: url("../img/features/Icon.svg");
}

.icon-messaging {
  background-color: #DFFFE3;
  background-image: url("../img/features/Icon 3.svg");
}

.features-card__icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 23px;
}

.features-card__title {
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 22px;
  color: #000000;
}

.features-card__text {
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
}

@media (min-width: 600px) {
  .features-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-card {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media (min-width: 801px) {
  .features-container {
    height: 336px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
    width: 1146px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .features-card {
    height: 290px;
    width: 362px;
    margin: 0;
  }
  .features-card:nth-child(2) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .features-card__title {
    font-size: 18px;
  }
}

.about {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner--about {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
}

.about-card__image {
  display: none;
}

.about-card__body {
  max-width: 476px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-card__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 40px;
  color: #000000;
  padding-bottom: 30px;
}

.about-card__text {
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
  padding-bottom: 35px;
}

@media (min-width: 600px) {
  .about {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner--about {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
  }
  .about-card__body {
    max-width: 476px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about-card__title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 40px;
    color: #000000;
    padding-bottom: 30px;
  }
  .about-card__text {
    font-weight: 300;
    font-size: 1rem;
    color: #000000;
    padding-bottom: 35px;
  }
  .about-card__image {
    display: block;
    width: 300px;
    height: 300px;
    overflow: clip;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    border-radius: 25px;
  }
}

@media (min-width: 801px) {
  .about-card__image {
    width: auto;
    height: auto;
    border-radius: 25px;
  }
  .about-card__title {
    font-size: 32px;
  }
}

.how {
  min-height: 635px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5FCFD;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
}

.how__title {
  font-weight: normal;
  font-size: 2rem;
  line-height: 40px;
  color: #000000;
  padding-bottom: 25px;
}

.how__text {
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
  padding-bottom: 45px;
  max-width: 722px;
}

.instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 221px;
}

.instruction-card {
  width: 333px;
  height: 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 15px;
  background-color: transparent;
  margin-bottom: 5rem;
}

.instruction-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-color: #DFEDFF;
}

.icon-account {
  background-image: url("../img/how/Icon1.svg");
}

.icon-email {
  background-image: url("../img/how/Icon2.svg");
}

.icon-results {
  background-image: url("../img/how/Icon3.svg");
}

.instruction-title {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 22px;
  color: #000000;
}

.instruction-text {
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
}

@media (min-width: 600px) {
  .how__title {
    font-size: 32px;
  }
}

@media (min-width: 801px) {
  .how {
    padding-top: 5rem;
  }
  .instruction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 221px;
  }
  .instruction-card {
    margin: 0 29px;
  }
}

.pricing {
  min-height: 833px;
  padding: 5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner--pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 332px;
  text-align: left;
  margin-bottom: 5rem;
}

.choose-plan__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 40px;
  color: #000000;
  padding-bottom: 30px;
}

.choose-plan__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
  color: #000000;
  padding-bottom: 40px;
}

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #0F7BFF;
  border-radius: 25px;
  width: 329px;
}

.switcher input {
  display: none;
}

.switcher label {
  width: 50%;
  padding: 11px 0;
  text-align: center;
  border-radius: 0 25px 25px 0;
  font-weight: bold;
  font-size: 1rem;
  color: #0063DD;
}

.switcher label:nth-child(2) {
  border-radius: 25px 0 0 25px;
}

.switcher input:checked + label {
  color: #FFFFFF;
  background-color: #0F7BFF;
}

.switcher label:hover {
  cursor: pointer;
}

.pricing__variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing-card {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 78, 172, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 78, 172, 0.08);
  border-radius: 5px;
  padding: 39px 30px 46px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 362px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.pricing-card__header {
  border-bottom: 2px solid #E9F3F8;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing-card__image {
  border-radius: 50%;
  width: 86px;
  height: 86px;
  background-color: #0063DD;
  -webkit-box-shadow: 0px 0px 0px 14px rgba(0, 99, 221, 0.15);
  box-shadow: 0px 0px 0px 14px rgba(0, 99, 221, 0.15);
  margin-bottom: 34px;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-standart {
  background-image: url("../img/pricing/Standard.svg");
}

.icon-premium {
  background-image: url("../img/pricing/Premium.svg");
}

.pricing-card__name {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 22px;
  color: #000000;
  margin-bottom: 25px;
}

.pricing-card__body {
  padding: 25px 69px;
  text-align: center;
}

.pricing-card__body p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 20px;
  color: #000000;
}

.pricing-card__price {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 22px;
  color: #0F7BFF;
  padding-bottom: 25px;
}

@media (min-width: 600px) {
  .pricing__variants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .choose-plan__title {
    font-size: 32px;
  }
}

@media (min-width: 801px) {
  .inner--pricing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pricing {
    min-height: 833px;
    padding: 0;
  }
  .choose-plan {
    margin-bottom: 0;
    margin-right: 45px;
  }
  .pricing-card {
    width: 362px;
    margin: 0 15px;
  }
}

.slider {
  background-color: #F5FCFD;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__image {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  margin-left: -20%;
}

.carousel__header {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 40px;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonial__card {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  width: 362px;
  height: 215px;
  background-color: #fff;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 30px;
  border-radius: 5px;
}

.testimonial__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 100%;
}

.testimonial__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial__person-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 10px;
}

.testimonial__person-role {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}

.testimonial__body {
  padding-top: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  text-align: left;
}

.carousel.slide {
  width: 900px;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  width: 130%;
  overflow: hidden;
  padding-bottom: 60px;
}

.carousel-indicators {
  margin: 20px 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carousel-indicators li {
  opacity: 1;
  height: 12px;
  width: 12px;
  background: #F5FCFD;
  border: 1.6px solid #0063DD;
  border-radius: 32px;
}

.carousel-indicators li.active {
  width: 38px;
  height: 12px;
  background: #0063DD;
  border-radius: 32px;
}

:root {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 600px) {
  :root {
    font-size: 16px;
    line-height: 20px;
  }
}

label {
  margin: 0;
}

.inner {
  max-width: 1345px;
  width: 100%;
}

.btn {
  border-radius: 25px;
  width: 165px;
  padding: 10px 0;
}

.btn a {
  color: #fff;
  font-weight: bold;
}

.btn--filled {
  background-color: #0F7BFF;
  border: 2px solid #0F7BFF;
}

.btn--bordered {
  background-color: #fff;
  border: 2px solid #0F7BFF;
}

.btn--bordered a {
  color: #0F7BFF;
}

.btn--signup {
  background-color: #0063DD;
  margin-top: 2rem;
}

.read-more {
  font-weight: 500;
  font-size: 1rem;
  color: #0063DD;
}
/*# sourceMappingURL=styles.css.map */