.trial {
  background-color: $bg-light;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 335px;
}

.trial__container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trial__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 30px;
}

.trial__title {
  font-weight: bold;
  // ???
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 25px;
}

.trial__text {
  font-weight: 300;
  // // 1rem
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.trial__button {
  width: 264px !important;
}




.subscribe {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 360px;
}

.subscribe__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.subscribe__form {
  max-width: 558px;
  height: 50px;
  display: flex;
  
  input {
    outline: none;
    border: none;
  }

  input[type="text"] {
    flex: 1;
    background-color: $primary-dark-color;
    border-radius: 25px 0 0 25px;
    padding: 1rem 1.1rem 1rem 1.1rem;
    color: #FFFFFF;
    // //
    font-size: 16px;
    line-height: 24px;
  }

  input[type="submit"] {
    border-radius: 0 25px 25px 0;
    padding: .6rem 1.5rem;
    color: $primary-dark-color;
    font-weight: bold;
    // //
    font-size: 16px;
    line-height: 24px;
  }
}



.footer {
  height: 125px;
  background-color: $primary-dark-color;
  display: flex;
  justify-content: center;
  position: relative;
}

.inner-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  // !!! // later
  flex-direction: column-reverse;
}


.footer__copyright {
  display: flex;
  // later
  // flex: 1;
  font-weight: 300;
  // //
  font-size: 1rem;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__menu {
  list-style: none;
  display: flex;
  margin-bottom: 0;

  // later
  padding: 0 0 15px 0;
}

.footer__item {}

.footer__link {
  font-weight: 300;
  // //
  font-size: 1rem;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 15px;
}

.footer__social {
  margin: 0 28px;

  // later 0
  padding-bottom: 10px;
  
  a {
    margin: 0 7.5px;

    // ?
    width: 30px;
    height: 30px;
  }
}

.footer__scroll-up {
  // later 
  // display: none;
  position: absolute;
  top: -40px;
  right: 20px;
}


// планшет
@media(min-width: 600px) {
  .subscribe__form {
    input[type="text"] {
      padding: 11px 28px 15px 28px;
    }
  
    input[type="submit"] {
      padding: 13px 40px;
    }
  }
}


// Large
@media (min-width: 801px) {
  .trial__container {
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .trial__info {
    padding-bottom: 0;
  }

  .subscribe__form {
    width: 558px;
  }
  
  .inner-footer {
    flex-direction: row;
  }
  
  
  .footer__copyright {
    flex: 1;
  }
  
  .footer__menu {
    padding: 0;
  }
  
  .footer__social {
    padding-bottom: 0;
  }
  
  .footer__scroll-up {
    position: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}