
.header {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  // ???
  height: 100vh;

  text-align: center;
  position: relative;
  background-color: $bg-light;
  background-image: url('../img/header/header-bg.jpg');
  background-position: center top;
  background-repeat: no-repeat;

  width: 100%;
}


.navbar {
  position: relative;
  justify-content: space-between;
  padding: 0 1rem;
  height: 60px;
}

.navbar.navbar-light {
  background-color: transparent;
}

.logo {
  font-weight: bold;
  font-size: 1rem;
  line-height: 30px;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  align-self: flex-start;
  border-radius: 0 0 10px 10px;
  padding: .5rem;
}

.navbar__menu {
  padding: .5rem;
  height: 100%;
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  z-index: 10;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.nav__list {
  width: 100%;
  text-align: center;
  padding: 0 1.5rem;
}

.nav__item {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #cdcccc;
  cursor: pointer;

  &:last-child {
    border: none;
  }

  &:hover, &:active, &:focus {
    .nav__link {
      color: #0F7CFF;
    }  
  }
}

.nav__link {
  font-weight: 500;
  text-transform: uppercase;
  color: $text-color;
  text-decoration: none;
  transition: 0.2ms all ease;

  &--active {
    color: #0F7CFF;
  }
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  align-self: flex-end;
}


.offer {
  max-width: 655px;
  margin: auto;
  margin-top: 5.5rem;

  & .btn {
    margin: 0 15px;
  }
}

.offer__title {
  padding-bottom: 30px;
}

.offer__text {
  padding-bottom: 33px;
  // font-size: 16px;
  line-height: 27px;
  color: $text-color;
}

.offer__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    margin-bottom: 1.3rem;
  }
}

.scroll-down {
  position: absolute;
  bottom: -40px;
  left: 40%;
  width: 80px;
  height: 80px;
  padding: 13px;
  border-radius: 50%;
  background-color: $primary-dark-color;
  // -webkit-box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
  // -moz-box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
  // box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
  translate: .3ms all ease;

  &:hover, &:active, &:focus {
    -webkit-box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
    -moz-box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);
    box-shadow: 0px 0px 0px 22px rgba(0, 99, 221, 0.23);

    .scroll-down__btn {
      color: #fff;
    }
  }
}

.scroll-down__btn {
  height: 100%;
  color: #fff;

  svg {
    height: 50px;
    width: 50px;
  }
}



// @media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

// планшет
@media(min-width: 600px) {
  .btn {
    width: 165px;
    padding: 13px 0;
  }
  
  .navbar {
    height: 70px;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
  }
  
  .navbar__menu {
    margin-right: 1rem;
  }
  
  // !!!!!
  .nav {
    padding: 2rem 4rem;
    // display: flex;
  }

  .nav__list {
    padding: 0 2rem;
  }

  // !!!!!
  // burger btn
  // .navbar-light .navbar-toggler {
  //   display: none;
  // }
  

  .offer__buttons {
    flex-direction: row;
    margin: 0;
  }


  .scroll-down {
    bottom: -35px;
    left: 45%;
    width: 70px;
    height: 70px;

    .scroll-down__btn {
      height: 100%;
      color: #fff;
    
      svg {
        height: 43px;
        width: 43px;
      }
    }    
  }
}



// Large
@media (min-width: 801px) {
  .btn--signup {
    // margin-right: 1rem;
    // margin-top: 2rem;
    margin: 0;
  }
  
  .navbar {
    height: 100px;
  }
  
  
  .logo {
    font-size: 2rem;
    line-height: 45px;
    border-radius: 0 0 20px 20px;
    padding: 25px 23px 32px 23px;
  }
  

  .navbar__menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  
  .nav {
    position: relative;
    padding: 0;
    height: auto;
    flex-direction: row;
    top: auto;
    right: auto;
  }
  
  .nav__list {
    padding: 0;
    width: auto;
  }
  
  .nav__item {
    border: none;
    margin: 0 20px;
  }
  
  .btn--signup {
    margin-left: 32px;
  }
  
  // 1 section
  .header {
    background-size: cover;
  }
}


// Extra large
// ≥1200px
@media (min-width: 1645px) {
  .navbar {
    width: 1644px;
  }
}